# Build output
build/
dist/

# Dependencies
node_modules/

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Temp files
*.tmp

*storybook.log
storybook-static
